/**
* @name base16 Discord
* @author @bypass_
* @version 0.1.0
* @description Built using Aether and Pywal
* @source https://github.com/imbypass/base16-Discord
**/

/* import the parent */
@import url('https://imbypass.github.io/base16-discord/omarchy-discord.theme.css');

:root {
    --color00: #000000;
    --color01: #9684cc;
    --color02: #ac9cd6;
    --color03: #c8b8e6;
    --color04: #8374b9;
    --color05: #9684cc;
    --color06: #ac9cd6;
    --color07: #a49cc9;
    --color08: #473a64;
    --color09: #9684cc;
    --color10: #ac9cd6;
    --color11: #c8b8e6;
    --color12: #8374b9;
    --color13: #9684cc;
    --color14: #ac9cd6;
    --color15: #ded1f5;
}
