@define-color selected-text #dfcdfe;
@define-color text #8374b9;
@define-color base #000000;
@define-color border #ac9cd6;
@define-color color0 #000000;
@define-color color6 #ac9cd6;
@define-color color7 #ac9cd5;
@define-color foreground #8374b9;
@define-color background #000000;

window {
    background: rgba(0, 0, 0, 0.7);
}

window .box-wrapper {
    border-radius: 3px;
    padding: 0px;
}

window .search-container {
    border-bottom: 2px solid @color6;
    margin-bottom: -10px;
    padding: 0px;
}

window .search-container .input {
    background: #271f37;
    color: @color7;
    padding: 15px 20px 15px 20px;
}

window .search-container .input,
window .search-container .input *,
window .search-container .input text,
window .search-container .input image,
window .search-container .input label {
    color: @color7;
}

window .search-container .input placeholder {
    color: @color7;
}

window .list child .item-box {
    border-bottom: 2px solid @color6;
    color: @color6;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
}

window .list child .item-box * {
    color: @color6;
}

.placeholder {
    padding-top: 60px;
    padding-bottom: 60px;
}

window .content-container {
    margin-right: -10px;
}

window .content-container .preview {
    border-left: 2px solid @color6;
    margin-left: -10px;
    padding-left: 0px;
}

window .content-container .preview-box,
window .content-container .preview image,
window .content-container .preview-box image {
    margin-left: 0px;
    padding-left: 0px;
}

window .list child:selected {
    background: @color6;
}

window .list child:selected .item-box * {
    color: @color0;
}

window .list child:last-child .item-box {
    border-bottom: none;
}
